@import url("./styles/todos/values.less");


  * {
    margin: 0;
    padding: 0;
    z-index: 0;
    box-sizing: border-box;
    background-blend-mode: normal;
    list-style-type: none;
  }

  .not-displayed {
    display: none;
  }

  .button-icon {
    width: 60px;
    height: 60px;
  }

  .completed-bckg {
    background-color: @green-background;
  }

  .uncompleted-bckg {
    background-color: @red-background;
  }

  .overdue-bckg {
    background-color: @turquoise-background;
  }

  .transparent-button {
    outline: none;
    border: 0;
    background: transparent;
  }