* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;
  background-blend-mode: normal;
  list-style-type: none;
}
.not-displayed {
  display: none;
}
.button-icon {
  width: 60px;
  height: 60px;
}
.completed-bckg {
  background-color: rgba(35, 199, 29, 0.1);
}
.uncompleted-bckg {
  background-color: rgba(209, 28, 28, 0.1);
}
.overdue-bckg {
  background-color: rgba(51, 204, 204, 0.1);
}
.transparent-button {
  outline: none;
  border: 0;
  background: transparent;
}
