* {
  margin: 0;
  padding: 0;
  z-index: 0;
  box-sizing: border-box;
  background-blend-mode: normal;
  list-style-type: none;
}
.not-displayed {
  display: none;
}
.button-icon {
  width: 60px;
  height: 60px;
}
.completed-bckg {
  background-color: rgba(35, 199, 29, 0.1);
}
.uncompleted-bckg {
  background-color: rgba(209, 28, 28, 0.1);
}
.overdue-bckg {
  background-color: rgba(51, 204, 204, 0.1);
}
.transparent-button {
  outline: none;
  border: 0;
  background: transparent;
}
.todo-list-container {
  z-index: 1;
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: scroll;
  background-color: rgba(203, 96, 211, 0.1);
}
.todo-list-container .add-button {
  float: right;
  position: fixed;
  max-width: 80px;
  max-height: 80px;
  top: 85%;
  right: 10%;
  overflow-anchor: none;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-container .todo-note-container {
  padding: 5px;
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  width: 100%;
  color: black;
  margin-bottom: 1%;
}
.todo-list-container .todo-note-container .title {
  min-width: 60%;
}
.todo-list-container .todo-note-container .toggler-button {
  width: 100px;
}
.todo-list-container .todo-note-container .delete-button {
  width: 80px;
  height: 80px;
  background-color: none;
  align-self: flex-end;
}
.todo-list-container .todo-note-container .date {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-container .todo-note-container .id,
.todo-list-container .todo-note-container .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-list-container .todo-note-container .todo-note-short {
  display: flex;
  justify-content: space-between;
}
.edit-window__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.edit-window__container input,
.edit-window__container div,
.edit-window__container select,
.edit-window__container textarea {
  margin: 2px;
  border-radius: 8px;
}
.edit-window__container .edit-window__title-and-status-container {
  display: flex;
  justify-content: space-between;
}
.edit-window__container .edit-window__title-and-status-container .edit-window__title {
  padding: 5px;
  min-width: 65%;
}
.edit-window__container .edit-window__title-and-status-container .edit-window__status {
  max-width: 10%;
}
.edit-window__container .edit-window__title-and-status-container ul li input {
  width: 100%;
}
.edit-window__container .edit-window__body {
  border: 3px solid rgba(0, 0, 0, 0.4);
  min-width: 98%;
  min-height: 100%;
  padding: 2px;
}
.edit-window__container .edit-window__body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40%;
  max-height: 60%;
}
